.theme-container {
    .home .hero .action-button {
        padding: 0.8rem 2rem;
    }
    @media (max-width: 419px) {
        .home .hero .action-button {
            padding: 0.6rem 1.6rem;
        }
    }

    .navbar .links .search-box {
        margin-right 1.8rem
    }

    .nav-links .nav-item {
        margin-left 1.6rem
    }

    .content:not(.custom),
    .page-edit,
    .page-nav {
        max-width: 900px;
    }
}

.getting-started {
    .outbound {
        display: none !important;
    }
    a img {
        margin-right: 8px !important
        .no-margin {
            margin-right: 0 !important
        }
    }
}

.full-page-class {
    .page {
        .content {
            max-width: none
            padding: 0
        }
        .page-edit {
            display: none;
        }
    }
}